@mixin modal(){
	display: none;
	opacity: 0,0;
	filter:alpha(opacity=0);
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	z-index: 20;
	top: 0;
}

@mixin interactive-element($color){
	color: $color;
	cursor: pointer;
	transition: all .2s;
	z-index: 25;
	&:hover{
		color: $Gold;
		margin-top:4px;
	}
}

@mixin close($distance){
	right: 1.5em;
	top: $distance;
	font-size:1.2em;
	position: absolute;
}

.full-view{
	@include modal();
}

.info-view{
	@include modal();
	top: -2em;
	position: absolute;
}

.close-me{
	@include interactive-element(#ddd);
	@include close(1.5em);
}

.info-trigger{
	@include interactive-element(#888);
	@include close(1em);
}

.info-close-me{
	@include interactive-element(#ddd);
	@include close(2.5em);
}

.info-view-contain{
	width: 75%;
	max-width: 1000px;
	margin: 4em auto 2em;
	color: #ddd;
	text-shadow: 0 1px 3px rgba(0,0,0,1);
	h3{
		font-size: 1.5em;
		border-bottom: #555 2px solid;
		margin: 1.5em 0 1em;
	}
}

.full-view-contain{
	width: 80%;
	height: 80%;
	margin: 0 auto;
	margin-top: 3em;
	max-height: 500px;
	fig{
		width: 54%;
		height: 100%;
		float: left;
    background-position: center top;
    background-size: 100% auto;
	}
	figcaption{
		width: 100%;
		margin-top:1em;
		text-align: center;
	}
}

.full-view-targetarea{
	width:100%;
	height:100%;
}

.full-view-image{
	float: right;
	img{
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 2px 30px rgba(0,0,0,0.4);
	}
}

.left-key{
	position:absolute;
	font-size: 2.5em;
	left:0.5em;
	top:50%;
	@include interactive-element(#ddd);
}

.right-key{
	position:absolute;
	font-size: 2.5em;
	right:0.5em;
	top:50%;
	@include interactive-element(#ddd);
}