html{
		height: 100%;
}

body{
		background-color: #DDD;
		height: 100%;
}

@font-face {
    font-family: "myHand";
    src: url("/assets/fonts/MyHand.woff") format('woff');
}
@font-face {
    font-family: "myHand_bold";
    src: url("/assets/fonts/MyHand_Bold.woff") format('woff');
}

.page-content{
		min-height: 100%;
		height: auto;
		margin: 0 auto -124px;
		overflow: hidden;
}

.classy-shadow{
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0px 0px 1em rgba(0,0,0,0.8);
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 6em;
}
 	
.calendar-item{
    width: 200px;
    height: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    margin: 2px;
		border: 1px solid $card-border-color;
		border-bottom: 2px solid $card-bottom-color;
		position: relative;
		background-color: #333;
		background-position: center;
		background-size: cover;
		transition: opacity 0.3s;	
}

.calendar-item:hover{
		opacity:0.5;
		cursor: pointer;
		.calendar-link, .image-link{
			opacity: 0.9;
		}
}

.image-link{
    content: "";
    display: block;
    background: url("/assets/graphics/collecticons/resize-out.svg") no-repeat;
    background-size: 60px;
    background-position: center;
    width: 100%;
    height: 100%;
		position: absolute;
		opacity: 0;
		transition: opacity 0.3s;	
}

.calendar-text{
    padding: 1.5em 1em;
}

.calendar-date{
	position:absolute;
	left: 0px;
	top:0px;
	width:auto;
	background-color: #eee;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	border-right: 1px solid $card-border-color;
	border-bottom: 1px solid $card-bottom-color;
	border-bottom-right-radius: 3px;
	padding: 0.1em 0 0;
	p{
		font-family: "myHand";
		font-size: 1em;
		font-weight: 400;
		margin: 0.4em 1em;
		color: #444;
/*		text-shadow: 0 1px 3px rgba(0,0,0,1);	*/	
	}
}


.float-right{
	float: right;
	width: 40%;
	color: #ddd;
	text-shadow: 0 2px 3px rgba(0,0,0,0.6);
	margin-left: 2em;
	h2{
		display: table-cell;
		font-size:1.4em;
		margin-bottom: 1em;
		border-bottom: 2px #555 solid;
		&:after{
	    content: "";
	    display: table-cell;
	    width: 100%;
		}
	}
	p{
		line-height: 1.7em;
		font-size: 0.9em;
		margin: 1.3em 0;
	}
}

.header-graphic{
	text-align:center;
	margin: 3em 0 1em;
	img{
		max-width: 60%;
	}
}

@keyframes birthdayColor {
    0% {border-color: gold;}
    25% {border-color: #EFFFAD;}
    50% {border-color: #FFFE00;}
    100% {border-color: gold;}
}

@keyframes birthdayHover {
	0% {opacity: 0.5;}
	50% {opacity: 0.4;}
	100% {opacity: 0.5;}
}



.birthday{
	outline: 1px solid #aaa;
	border: 4px solid gold;
	width: 190px;
	height: 190px;
	animation-name: birthdayColor;
	animation-duration: 2s;
  animation-iteration-count: infinite;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.3);
	&:hover{
		opacity:0.5;
		cursor: pointer;
		animation-name: birthdayHover;
		animation-duration: 1s;
	  animation-iteration-count: infinite;
		.calendar-link, .image-link{
			opacity: 0.9;
		}
	}
}

