html{
		height: 100%;
}

body{
		background-color: #DDD;
/*		background: url("/assets/graphics/meta/background.jpg");*/	  
		height: 100%;
}

@font-face {
    font-family: "myHand";
    src: url("/assets/fonts/MyHand.woff") format('woff');
}
@font-face {
    font-family: "myHand_bold";
    src: url("/assets/fonts/MyHand_Bold.woff") format('woff');
}

.page-content{
		min-height: 100%;
		height: auto;
		margin: 0 auto -124px;
		overflow: hidden;
}

.classy-shadow{
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0px 0px 1em rgba(0,0,0,0.8);
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}
 	
.calendar-item{
    width: 200px;
    height: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    margin: 2px;
		border: 1px solid #555;
		border-bottom: 2px solid #555;
		position: relative;
		background-color: #333;
		background-position: center;
		background-size: cover;
		transition: opacity 0.3s;	
}

.calendar-item:hover{
		opacity:0.5;
		cursor: pointer;
		.calendar-link, .image-link{
			opacity: 0.9;
		}
}

.image-link{
    content: "";
    display: block;
    background: url("/assets/graphics/collecticons/resize-out.svg") no-repeat;
    background-size: 60px;
    background-position: center;
    width: 100%;
    height: 100%;
		position: absolute;
		opacity: 0;
		transition: opacity 0.3s;	
}

.calendar-link{
    content: "";
    display: block;
    background: url("/assets/graphics/collecticons/expand-top-right.svg") no-repeat;
    background-size: 60px;
    background-position: center;
    width: 100%;
    height: 100%;
		position: absolute;
		opacity: 0;
		transition: opacity 0.3s;	
}

.calendar-text{
    padding: 1.5em 1em;
}

.calendar-date{
	position:absolute;
	left: 0px;
	top:0px;
	width:auto;
	background-color: #eee;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #333;
	border-bottom-right-radius: 3px;
	padding: 0.1em 0 0;
	p{
		font-family: "myHand";
		font-size: 1em;
		font-weight: 400;
		margin: 0.4em 1em;
		color: #444;
/*		text-shadow: 0 1px 3px rgba(0,0,0,1);	*/	
	}
}


.float-right{
	float: right;
	width: 40%;
	color: white;
	text-shadow: 0 2px 3px rgba(0,0,0,0.6);
	margin-left: 2em;
	h1{
		display: table-cell;
		margin-bottom: 1em;
		border-bottom: 1px #999 solid;
		&:after{
	    content: "";
	    display: table-cell;
	    width: 100%;
		}
	}
	p{
		margin: 1.5em 0;
	}
}



.full-view{
	display: none;
	opacity: 0,0;
	filter:alpha(opacity=0);
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	z-index: 20;
	top: 0;
}

.close-me{
	color: white;
	right: 2em;
	top: 2em;
	position: absolute;
}

.full-view-contain{
	width: 80%;
	height: 80%;
	margin: 0 auto;
	margin-top: 3em;
	max-height: 500px;
	fig{
		width: 54%;
		height: 100%;
		float: left;
    background-position: center top;
    background-size: 100% auto;
	}
	figcaption{
		width: 100%;
		margin-top:1em;
		text-align: center;
	}
}

.full-view-image{
	float: right;

	img{
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 2px 30px rgba(0,0,0,0.4);
	}
}
