---
layout: default
lang: en

---

<!-- Create a modal that'll get filled with goodies -->
<div class="day-modal hidden">
  <div class="full-mask-exit"></div>

  <div class="day-container">
    <i class="collecticons collecticons-xmark"></i>

    <span class="day-content__prev">
      <i class="collecticons collecticons-leftkey-invert"></i>
    </span>
    <span class="day-content__next">
      <i class="collecticons collecticons-rightkey-invert"></i>
    </span>

    <h3 class="day-content__date">Monday, July 1st</h3>


    <div class="day-content">
      <div class="day-content__image">
        <img src="./assets/graphics/full/feb/f-19.gif"></img>
      </div>
      <div class="day-content__text">
        <div class="day-content__notes">"Lorem ipsum."</div>
        <div class="day-content__link"><a href="place">Link Name Would Go Here</a></div>
      </div>
    </div>
  </div>

</div>

<!-- Loop over days to create data object.-->
{% for d in site.dayz %}
  <script>
    // check if PT object exisits. Double quotes in case of an apostraphe in the text
    var matchBox = ['{{d.num}}', '{{d.month}}', '{{d.when}}', '{{d.day}}', '{{d.link}}', "{{d.linkname}}", "{{d.notes}}", '{{d.imageType}}', '{{d.more}}', '{{d.transp}}']

    ptMaker('num', 0)
    ptMaker('month', 1)
    ptMaker('when', 2)
    ptMaker('day', 3)
    ptMaker('link', 4)
    ptMaker('linkname', 5)
    ptMaker('notes', 6)
    ptMaker('imageType', 7)
    ptMaker('more', 8)
    ptMaker('transp', 9)

    function ptMaker(feature, matcher) {
      if(PT[feature] != null){
        var cart = PT[feature];
      }else{
        var cart = []
      };

      // push new value to the array....
      cart.push(matchBox[matcher])

      // and save that array, yeah!
      PT[feature] = cart
    }
  </script>
{% endfor %}

<!-- Start by looping for each month -->
{% for m in site.monthz reversed %}  
      
  <!-- Make a beautiful lil' imdayCounter -->
  <div class="month__masthead">
    <img src="./assets/graphics/covers/{{ m.month }}.png"></img>
  </div>

  <!-- Make a lil' bar for the dayz -->
  <ul class="oh-the-days">
    <li>Sun</li>
    <li>Mon</li>
    <li>Tue</li>
    <li>Wed</li>
    <li>Thu</li>
    <li>Fri</li>
    <li>Sat</li>
  </ul>

  <!-- Make a row for the dayz -->
  <div class="dayz-container">
    <!-- Counter for how many day boxes we're building -->
    {% assign dayCounter = 0 %}

    <!-- Create empty calendar blocks for the days not in the prior month -->
    {% for i in (1..m.start) %}
      {% capture dayCounter %}{{ dayCounter | plus:1 }}{% endcapture %}
      <div class="calendar-item__empty"></div>
    {% endfor %}

    {% for d in site.dayz %}
      {% if d.month == m.month %}
        <!-- If we already have 7 days in this row, make a new row -->
        {% capture dayCounter %}{{ dayCounter | plus:1 }}{% endcapture %}
        {% if dayCounter == "8" or dayCounter == "15" or dayCounter == "22" or dayCounter == "29" %}
          </div><div class="dayz-container">
        {% endif %}

        <!-- Create the calendar blocks with content in them  -->
        {% if d.month == m.month %}
          <div class="calendar-item for-script-{{ d.num }}" style="background:url('./assets/graphics/thumbs/{{ m.month }}/t-{{ d.day }}.jpg') no-repeat; background-position:center; background-size:cover">
            <div class="calendar-date">
              <p>{{ d.day }}</p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- Make empty containers for leftover spaces to fill out the week -->
    {% if dayCounter != "7" || dayCounter != "15" || dayCounter != "23" || dayCounter != "31" %}
      {% capture dayCounter %}{{ dayCounter | modulo: 7 | minus: 7 | times:-1 }}{% endcapture %}
      {% for i in (1..dayCounter) %}
        <div class="calendar-item__empty"></div>
      {% endfor %}
    {% endif %}
    </div>

{% endfor %}
