{% for p in site.16-June reversed %}
<!--   Sets up variables for use in Javascript-->  
  <script>
    function thing(){
      if(PT.link != null){
        var cart = PT.link;
      }else{
        var cart = []
      };

      cart.push("{{p.link}}")

      PT.link = cart
    };
    function thing2(){
      if(PT.descrip != null){
        var cart = PT.descrip;
      }else{
        var cart = []
      };

      cart.push("{{p.descrip}}")

      PT.descrip = cart
    };
    function thing3(){
      if(PT.image != null){
        var cart = PT.image;
      }else{
        var cart = []
      };

      cart.push("{{p.image}}")

      PT.image = cart
    };
    function thing4(){
      if(PT.title != null){
        var cart = PT.title;
      }else{
        var cart = []
      };

      cart.push("{{p.title}}")

      PT.title = cart
    };
    function thing5(){
      if(PT.linkname != null){
        var cart = PT.linkname;
      }else{
        var cart = []
      };

      cart.push("{{p.linkname}}")

      PT.linkname = cart
    };

    thing();
    thing2();
    thing3();
    thing4();
    thing5();
  </script>
  
  <div class= "calendar-item script{{ p.num }} open" style="background:url('{{ p.image  }}') no-repeat; background-position:center; background-size:cover">
    <div class="image-link"></div>
    <div class="calendar-date {{ p.invert }}">
      <p>{{ p.date | date: "%a %-d" }} </p>
    </div>
  </div>
  
{% endfor %}