	<header class ="nav-down">
		<div class ="nav-container">
			<span class= "nav-home"><a href= "{{ site.baseurl }}/"><i class="collecticons collecticons-dm"></i></a>
			<a href= "https://github.com/DylanMoriarty" target="_blank"><i class="collecticons collecticons-github"></i></a>
			<a href= "https://twitter.com/DylanMoriarty" target="_blank"><i class="collecticons collecticons-twitter"></i></a>
			</span>
			<a href="{{ site.baseurl }}/cake/"><i class="collecticons collecticons-bubble"></i> <h1>Toons</h1></a>
			<a href="{{ site.baseurl }}/tunes/"><i class="collecticons collecticons-music"></i> <h1>Tunes</h1>
			<a href="{{ site.baseurl }}/about/"><i class="collecticons collecticons-glass"></i> <h1>Contact</h1></a>		
		</div>

		<script>
			var PT = {lang: '{{page.lang}}' };
		</script>
	</header>
